* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.vertical-flex {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    font-family: sans-serif;
    overflow-x: hidden;
    min-height: 100vh;

    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23e2e2ff' fill-opacity='0.4'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

@media (max-width: 1078px) {
    .transition-inner-container {
        top: 3rem;
        min-height: calc(100vh - 3rem);
    }
}

input, textarea {
    font-family: inherit;
    font-size: inherit;
    border: none;
    background-color: unset;
}

@media (min-width: 600px) {
    .two-columns {
        display: flex;
    }

    .two-columns > div {
        width: 50%;
    }
}

.definitions-container {
    margin: auto;
    width: calc(50vw + 15rem);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    grid-auto-rows: minmax(4rem, auto);
}

.front-page-definitions-container {
    width: 36rem;
    max-width: 100%;
}

@media (max-width: 30rem) {
    .definitions-container {
        width: 100vw;
    }
}

.definitions-container > * {
    justify-self: stretch;
}

.definition {
    border: 3px solid #555;
    padding: 1rem;
    box-shadow: 0.5rem 0.5rem #555;
    min-height: 5rem;
    margin: 1rem;
    position: relative;
    background-color: white;
}

.definition:not(.definition-edit) {
    cursor: pointer;
}

.definition:not(.definition-edit):hover {
    background-color: lightgray;
}

.pos {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color: darkred;
}

.definition-icon {
    float: left;
    font-size: 2rem;
    margin: -0rem 1rem 0.5rem -0rem;
}

.definition-icon-correct {
    color: green;
}

.definition-icon-incorrect {
    color: red;
}

button {
    cursor: pointer;
}

button, input[type=button], .button {
    background-color: white;
    border: 2px solid #555;
    box-shadow: 0.5rem 0.5rem #555;
    padding: 1rem;
    margin: 1rem;
}

.extra-big-button {
    padding: 1.2rem 2rem 1.2rem 2rem;
    font-size: 1.2rem;
}

button:disabled, input[type=button]:disabled, .button.disabled {
    background-color: lightgray;
    font-weight: bold;
}

a {
    color: inherit;
}

a:visited {
    color: inherit;
}

.submit-button {
    display: block;
    margin: 1rem auto 1rem auto;
    color: black;
    text-align: center;
}

h1, h2 {
    text-align: center;
    font-weight: lighter;
    margin-top: 2rem;
}

.definition-edit {
    max-width: 40rem;
    margin: 1rem auto 1rem auto;
}

.definition-edit textarea {
    resize: none;
    display: block;
    width: 100%;
    border: none;
}

.fading-p {
    text-align: center;
    color: #444;
    font-style: italic;
}

.progress-bar > div {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #444;
    height: 0.5rem;
    transition: width 0.5s ease-out;
}

.left, .transition-inner-container {
    position: absolute;
    width: 100vw;
}

.transition-inner-container {
    min-height: 100vh;
}

.left-enter {
    position: absolute;
    left: 100vw;
}

.left-enter.left-enter-active {
    left: 0;
    transition: left 0.5s ease-out;
}

.left-exit {
    position: absolute;
    left: 0
}

.left-exit.left-exit-active {
    left: -100vw;
    transition: left 0.5s ease-in;
}

@keyframes fade-in-from-top {
    from {
        top: 15rem;
        opacity: 100%;
    }

    90% {
        opacity: 90%;
    }

    to {
        top: 0;
    }
}

.space-filler {
    flex-grow: 1;
}

.score-inner {
    position: absolute;
    animation: 0.5s linear fade-in-from-top;
    right: 0.5rem;
}

.score {
    border: 2px solid black;
    position: absolute;
    top: 2rem;
    right: 2rem;
    padding: 0.5rem;
    box-shadow: 0.5rem 0.5rem #555;
    background-color: white;
    z-index: 10;
    width: 10rem;
    text-align: right;
    cursor: pointer;
}

.score:hover, .menu > div:hover, .social-buttons > a:hover, button:hover, .leaderboard-select > a:hover {
    background-color: lightgray;
}

.score svg {
    float: left;
}

.menu, .social-buttons {
    position: absolute;
    border: 2px solid black;
    box-shadow: 0.5rem 0.5rem #555;
    background-color: white;
}

.menu {
    right: 2rem;
    top: 5rem;
    width: 10rem;
}

.social-buttons.social-buttons-fixed {
    left: 2rem;
    bottom: 2rem
}

@media (max-width: 650px) {
    .social-buttons {
        position: static;
        margin: 1rem auto 1rem auto;
        display: flex;
        width: 35rem;
        max-width: calc(100vw - 2rem);
        justify-content: space-around;
    }
}

.social-buttons:not(.social-buttons-fixed) {
    position: static;
    margin: 1rem auto 1rem auto;
    display: flex;
    width: 35rem;
    justify-content: space-around;
}

.menu > div, .social-buttons > a {
    padding: 1rem;
    cursor: pointer;
    display: block;
}

.menu svg, button svg {
    margin-right: 0.75rem;
}

.form {
    border: 2px solid black;
    box-shadow: 0.5rem 0.5rem #555;
    text-align: center;
    width: 20rem;
    margin: 1rem auto 1rem auto;
    padding: 1rem
}

.form label {
    font-weight: bold;
}

.form input, .form textarea {
    display: block;
    width: 100%;
}

.form textarea {
    resize: none;
}

.player-score, .leaderboard, .error, .report-modal, .leaderboard-select {
    width: 35rem;
    max-width: calc(100vw - 2rem);
    border: 2px solid black;
    box-shadow: 0.5rem 0.5rem #555;
    padding: 1rem;
    margin: 1rem auto 1rem auto;
    background-color: white;
}

.leaderboard-select {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    padding: 0;
}

.leaderboard-select > a {
    padding: 1rem;
    text-align: center;
    text-decoration: none;
}

.leaderboard-select-active {
    background-color: lightgrey;
}

.player-score {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
}

.single-point {
    font-size: 4rem;
    text-align: center;
}

.point-label {
    text-align: center;
}

.button-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.leaderboard {
    display: grid;
    grid-template-columns: 1fr 3rem;
    grid-row-gap: 1rem;
    height: 22rem;
}

.error {
    width: 15rem
}

.error svg {
    margin-right: 0.5rem;
}

.report-modal-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.report-modal svg {
    margin-right: 0.5rem
}

.report-reason {
    padding: 0.5rem 1rem 0.5rem 1rem;
    cursor: pointer;
    margin: 0 -1rem 0 -1rem;
}

.report-reason:hover {
    background-color: darkgray;
}

.report-heading {
    font-weight: bold;
    margin-right: 0.5rem;
}

.report-button {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
}

@media (max-width: 650px) {
    .report-button {
        position: static;
        margin: auto;
    }
}

