{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dictionaryga.me</title>
    <meta name="description" content="Dictionaryga.me is a game about guessing
definitions for cool or unusual English words.">
    <link rel="icon" href="static/images/icon.svg">
    {% render_bundle 'style' 'css' %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="https://dictionaryga.me/"/>
</head>
<body>
<span id="react-container"></span>
{% render_bundle 'index' %}
<script async defer src="https://cdn.coollabs.io/save.js"></script>
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "Game",
    "name": "dictionaryga.me",
    "url": "https://dictionaryga.me",
    "sameAs": [
        "https://www.facebook.com/dictionarygame/",
        "https://www.reddit.com/r/dictionarygame/"
    ]
}</script>
</body>
</html>